<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352646331748-59ud66ubt4h217plh4cgvshq11br2v2h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352646331748-59ud66ubt4h217plh4cgvshq11br2v2h</string>
	<key>API_KEY</key>
	<string>AIzaSyC0-TL1rn1K_pjqhUWUi-X_u6hDHDnhLag</string>
	<key>GCM_SENDER_ID</key>
	<string>352646331748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>quizapp-8e7ea</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-8e7ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352646331748:ios:76405a4507821912934e71</string>
	<key>DATABASE_URL</key>
	<string>https://quizapp-8e7ea-default-rtdb.firebaseio.com</string>
</dict>
</plist>